@import url("theme.css");
/* vars */
.slide {
    --font-size: 2rem;
    --container-margin: 4rem;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}


.slide {
    font-size: var(--font-size);
}

.fullheight {
    height: 100%;
}

/* control stuff */

.icon-button {
    background: none;
    padding: 0;
    border: none;
}

.icon-button > .material-symbols-outlined {
    vertical-align: middle;
}

.controls {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 14rem;
    height: 10rem;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.controls:hover {
    opacity: 100%;
    transition: opacity 0.5s ease-in-out;
}


.slide-nav-button {
    color: var(--theme-color-full);
    padding: 0.2rem;
    border-radius: 50%;
}

.slide-nav-button:hover {
    background-color: var(--theme-color-light);
}

.slide-nav-button.disabled {
    color: var(--theme-color-mid);
}

.slide-nav-button > .material-symbols-outlined {
    font-size: 48px;
}

.previous-slide {
    position: absolute;
    bottom: 1.5rem;
    right: 5rem;
}

.next-slide {
    position: absolute;
    bottom: 1.5rem;
    right: 1.5rem;
}


/* container */
.container {
    display:flex;
    flex-grow: 1;
    margin: var(--container-margin);
}

.container > .container {
    margin: 0;
}

/* TitleContainer */
.titledcontainer {
    display: flex;
    flex-direction: column;
}

.title {
    text-align: center;
    margin: 0;
    padding: 2rem;
    font-size: calc(var(--font-size)*2);
    background-color: var(--theme-color-full);
    color: white;
}

/* HSplit */
.hsplit {
    display: flex;
    flex-direction: row;
    gap: calc(var(--container-margin)*2);
}

.vsplit {
    display: flex;
    flex-direction: column;
    gap: var(--container-margin);
}
